<%= form_with(model: entry, class: "contents") do |form| %>
  <% if entry.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-md mt-3">
      <h2><%= pluralize(entry.errors.count, "error") %> prohibited this entry from being saved:</h2>

      <ul class="list-disc ml-6">
        <% entry.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="my-5">
    <%= form.label :contest_id, "Contest" %>
    <% if entry.persisted? %>
      <div class="block px-3 py-2 mt-2 text-gray-700">
        <%= entry.contest.year %>
        <%= form.hidden_field :contest_id %>
      </div>
    <% else %>
      <%= form.collection_select :contest_id, Contest.order(year: :desc), :id, :year, { prompt: "Select contest year" }, class: ["block shadow-sm rounded-md border outline-hidden px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": entry.errors[:contest_id].none?, "border-red-400 focus:outline-red-600": entry.errors[:contest_id].any?}] %>
    <% end %>
  </div>

  <div class="my-5">
    <%= form.label :country_id, "Country" %>
    <% if entry.persisted? %>
      <div class="block px-3 py-2 mt-2 text-gray-700 flex items-center gap-2">
        <span><%= entry.country.flag %></span>
        <span><%= entry.country.name %></span>
        <%= form.hidden_field :country_id %>
      </div>
    <% else %>
      <%= form.collection_select :country_id, Country.order(:name), :id, :name_with_flag, { prompt: "Select country" }, class: ["block shadow-sm rounded-md border outline-hidden px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": entry.errors[:country_id].none?, "border-red-400 focus:outline-red-600": entry.errors[:country_id].any?}] %>
    <% end %>
  </div>

  <div class="my-5">
    <%= form.label :artist_name %>
    <%= form.text_field :artist_name, class: ["block shadow-sm rounded-md border outline-hidden px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": entry.errors[:artist_name].none?, "border-red-400 focus:outline-red-600": entry.errors[:artist_name].any?}] %>
  </div>

  <div class="my-5">
    <%= form.label :song_title %>
    <%= form.text_field :song_title, class: ["block shadow-sm rounded-md border outline-hidden px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": entry.errors[:song_title].none?, "border-red-400 focus:outline-red-600": entry.errors[:song_title].any?}] %>
  </div>

  <div class="my-5">
    <%= form.label :lyrics %>
    <%= form.text_area :lyrics, rows: 4, class: ["block shadow-sm rounded-md border outline-hidden px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": entry.errors[:lyrics].none?, "border-red-400 focus:outline-red-600": entry.errors[:lyrics].any?}] %>
  </div>

  <div class="my-5">
    <%= form.label :en_lyrics, "English Lyrics" %>
    <%= form.text_area :en_lyrics, rows: 4, class: ["block shadow-sm rounded-md border outline-hidden px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": entry.errors[:en_lyrics].none?, "border-red-400 focus:outline-red-600": entry.errors[:en_lyrics].any?}] %>
  </div>

  <div class="my-5">
    <%= form.label :semifinal %>
    <%= form.number_field :semifinal, min: 1, max: 2, class: ["block shadow-sm rounded-md border outline-hidden px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": entry.errors[:semifinal].none?, "border-red-400 focus:outline-red-600": entry.errors[:semifinal].any?}] %>
  </div>

  <div class="my-5">
    <%= form.label :semifinal_order %>
    <%= form.number_field :semifinal_order, min: 1, max: 15, class: ["block shadow-sm rounded-md border outline-hidden px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": entry.errors[:semifinal_order].none?, "border-red-400 focus:outline-red-600": entry.errors[:semifinal_order].any?}] %>
  </div>

  <div class="my-5">
    <%= form.label :final_order %>
    <%= form.number_field :final_order, min: 1, max: 26, class: ["block shadow-sm rounded-md border outline-hidden px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": entry.errors[:final_order].none?, "border-red-400 focus:outline-red-600": entry.errors[:final_order].any?}] %>
  </div>

  <div class="my-5">
    <div class="flex items-center gap-2">
      <%= form.check_box :qualified, class: ["shadow-sm rounded border outline-hidden mt-2 h-5 w-5", {"border-gray-400 focus:outline-blue-600": entry.errors[:qualified].none?, "border-red-400 focus:outline-red-600": entry.errors[:qualified].any?}] %>
      <%= form.label :qualified, class: "inline-block" %>
    </div>
  </div>

  <div class="inline">
    <%= form.submit class: "rounded-md px-3.5 py-2.5 bg-blue-600 hover:bg-blue-500 text-white inline-block font-medium cursor-pointer" %>
  </div>
<% end %>
